.App {
  text-align: center;
  list-style: none;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3b4558;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(174, 209, 17);
}

.list__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #aaa7a7;
  background-color: rgb(22, 22, 24);
  list-style: none;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card {
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;

  &__image {
    width: 20vmin;
  }
  &__name {
    color: rgb(230, 225, 225);
    list-style: none;
    text-decoration: none;
  }
  &__text--species {
    color: rgb(70, 175, 201);
    text-decoration: none;
    list-style: none;
  }
}
.detail {
  border-radius: 10%;
  background-color: rgb(22, 22, 24);
  justify-content: center;
  &__name {
    padding-top: 20px;
    text-transform: uppercase;
  }
  &__span {
    padding-top: 20px;
    text-transform: uppercase;
  }
  &__result {
    color: rgb(70, 175, 201);
  }
}

.footer__span {
  color: black;
  &--link {
    list-style: none;
    list-style: none;
    text-decoration: none;
    color: orange;
  }
  &--image {
    height: 5vmin;
  }
}
