.App {
  text-align: center;
  list-style: none;
  text-decoration: none;

  background: url('../images/Fondo.png') no-repeat center / cover fixed;
}

.App-header {
  background-color: #020202;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(174, 209, 17);

  &__title {
    font-size: 80px;
  }
}

.list__item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #aaa7a7;
  background-color: rgb(22, 22, 24);
  opacity: 90%;
  list-style: none;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
}
.card {
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;

  &__image {
    margin-top: 20px;
    width: 20vmin;
  }
  &__name {
    text-transform: uppercase;
    color: rgb(179, 32, 130);
  }
  &__text--species {
    color: rgb(172, 162, 218);
    text-decoration: none;
    list-style: none;
  }
}
.detail {
  border-radius: 10%;
  background-color: rgb(22, 22, 24);
  opacity: 80%;
  justify-content: center;

  &__name {
    padding-top: 20px;
    text-transform: uppercase;
  }
  &__img--imagen {
    size: 112px;
  }
  &__span {
    padding-top: 20px;
    text-transform: uppercase;
  }
  &__result {
    color: rgb(70, 175, 201);
  }
}

.filter__list--input {
  width: 130px;
  height: 50px;
  background-color: rgb(70, 175, 201);
  color: rgb(24, 31, 25);
  list-style: none;
  text-decoration: none;
}
.filter__list--label {
  border-radius: 20%;
  border-radius: 1cm;
  font-size: 22px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow';
  list-style: none;
  text-decoration: none;
}
.footer__span {
  border-radius: 20%;
  display: flex;
  flex-direction: row;
  background-color: #b32082;
  opacity: 88%;
  justify-content: center;
  align-items: center;

  color: rgb(32, 30, 28);
  &--link {
    list-style: none;
    list-style: none;
    text-decoration: none;
    color: rgb(230, 158, 25);
  }
  &--image {
    border-bottom: 10px;
    height: 7vmin;
  }
}
