.App {
  text-align: center;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  background: url('../images/Fondo.png') no-repeat center / cover fixed;
}

.App-header {
  background-color: #020202;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(174, 209, 17);
  font-family: monospace, bold;

  &__title {
    font-size: 80px;
  }
}
.article {
  text-decoration: none;
  list-style: none;
}
.list {
  &__item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #aaa7a7;
    background-color: rgb(22, 22, 24);
    opacity: 90%;
    list-style: none;
    text-decoration: none;
  }
}
.App-link {
  color: #61dafb;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
  width: 180px;
  height: 310px;

  &__image {
    margin: 20px;
    width: 20vmin;
    border-radius: 50%;
  }
  &__name {
    font-family: monospace, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(179, 32, 130);
    text-decoration: none;
    text-decoration: none !important;
  }
  &__text--species {
    font-family: monospace, sans-serif;
    color: rgb(172, 162, 218);
    text-decoration: none;
    list-style: none;
  }
}
.detail {
  border-radius: 10%;
  background-color: rgb(22, 22, 24);
  opacity: 80%;
  justify-content: center;

  &__name {
    padding-top: 20px;
    text-transform: uppercase;
  }
  &__img--imagen {
    size: 112px;
  }
  &__span {
    padding-top: 20px;
    text-transform: uppercase;
  }
  &__result {
    color: rgb(70, 175, 201);
  }
}
.filter__title {
  font-family: monospace, bold;
  font-size: 30px;
}
.filter__list {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 10px 10px;
}
.filter__list--input {
  width: 130px;
  height: 30px;
  font-family: monospace, sans-serif;
  font-size: 18px;
  background-color: rgb(179, 32, 130);
  color: rgb(24, 31, 25);
  list-style: none;
  text-decoration: none;
}
.filter__list--label {
  border-radius: 20%;
  border-radius: 1cm;
  font-size: 22px;
  font-family: monospace, 'Arial Narrow';
  list-style: none;
  text-decoration: none;
  margin-right: 10px;
}
.footer__span {
  margin-left: 950px;
  display: flex;
  flex-direction: row;
  opacity: 88%;
  justify-content: center;
  align-items: center;
  color: rgb(250, 243, 237);
  &--link {
    padding: 10px 10px 10px 10px;
    list-style: none;
    list-style: none;
    text-decoration: none;
    color: rgb(255, 166, 0);
  }
  &--image {
    border-radius: 20%;
    background-color: rgb(255, 166, 0);
    height: 5vmin;
  }
}
